
@{
    ViewData["Title"] = "Menu";
}

<h1 class="text-center">Menu</h1>
<div class="menu-div">
    <div class="menu"><a id="team-in-menu" asp-area="" asp-controller="Teams" asp-action="">Team Management</a></div>
    <div class="menu"><a id="team-in-menu" asp-area="" asp-controller="MessagesManagement" asp-action="">Send Message</a></div>
    <div class="menu"><a id="adventure-in-menu" asp-area="" asp-controller="AdventuresManagement" asp-action="">Adventure Management</a></div>
</div>
